/* sidebar style */
#dashboard-items, .main-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 27px 4px rgba(224,224,224,1);
    height: 88vh;
  }
  
  
  #dashboard-items li {
    list-style-type: square;
    margin-left: 10px;
  }
  
  #dashboard-items h5:not(first-of-type) {
    margin-top: 40px;
  }

  #dashboard-items-mobile {
      display: none;
  }

  

  @media (max-width: 600px)  {
    #dashboard-items {
        display: none;
    }

    #dashboard-items-mobile {
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 27px 4px rgba(224,224,224,1);
        overflow: scroll;
        margin-bottom: 20px;
        padding: 10px;
        
    }

    #dashboard-items-mobile div {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        background-color: #ffffff;
        border: 0.5px solid #949494;
        padding: 5px;
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    #dashboard-items-mobile a {
        border-radius: 50%;
        width: 60px;
        text-align: center;
    }

    
}
