<div class="main-content">
    <h1 class='form-titles'>Dashboard</h1>

    <h3 style='text-align: center'>Welcome to your dedicated dashboard. Please select a menu item on the left to begin your productivity</h3>
</div>


