<div class='page-width'>
    <h1 class='form-titles'>Contractor Actions</h1>
<div class='menu-actions'>
    <%= link_to "Add Contractor", new_contractor_path %>
    <%= link_to "View Contractors", contractors_path %>
</div>
</div>