<div class='page-width'>
    <h1 class='form-titles'>Work Order / Invoice Actions</h1>
    <div class='menu-actions'>
        <%= link_to "New Work Order", new_work_order_path %>
        <%= link_to "View Work Orders", work_orders_path %>
        <%= link_to "View Invoices", invoices_path %>
    </div>
</div>